* {
    flex-direction: column;
    align-items: center; 
    margin: 0; 
    padding: 0; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-image: url('img/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Changed to cover for responsiveness */
    margin-top: -30px;
    margin-bottom: 35px;
}

*::-webkit-scrollbar {
    display: none;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.photo {
    width: 200px;
    height: 200px;
    stroke: #FF8424;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 100px rgb(255, 85, 0);
    transition: transform 0.2s;
}

.photo:hover {
    transform: scale(1.1);
}

.name {
    text-align: center;
    font-family: 'Montserrat Subrayada';
    font-size: 30;
    margin-top: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #748E63;
    text-shadow: -2px 4px 3px #ba844f;
    background: none;
    transition: transform 0.2s;
    cursor: default;
}

.name:hover {
    transform: scale(1.1);
}

.underName {
    background: none;
    text-align: center;
    font-family: 'Montserrat';
    margin-top: 10px;
    font-size: 17px;
    font-weight: 800;
    color: #FF8424;
    text-shadow: -2px 4px 4px #ee8f30;
    transition: transform 0.2s;
    cursor: default;
}

.underName:hover {
    transform: scale(1.1);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 27px;
}

button::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #FAF8ED;
    transition: width 0.3s;
}

button:hover::after {
    width: 100%;
}

.b1, .b2, .b3, .b4, .b5 {
    position: inherit;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background: none;
}

.telegramImg, .instagramImg, .discordImg, .tiktokImg, .youtubeImg {
    height: 20px;
    width: auto;
    fill: #000000;
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
    margin-left: 17px;
    position: absolute;
}

.youtubeImg {
    margin-left: 16px;
    margin-top: 16px;
}

.telegram, .instagram, .discord, .tiktok, .youtube {
    font-family: 'Karla';
    font-size: medium;
    margin-top: 2px;
    border-radius: 150px;
    border: none;
    background-color: #748E63;
    color: #FAF8ED;
    font-size: 15px;
    font-weight: 480;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.055), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.telegram {
    padding: 15px 220px;
}

.instagram {
    padding: 15px 218px;
}

.discord {
    padding: 15px 230px;
}

.tiktok {
    padding: 15px 235px;
}

.youtube {
    padding: 15px 228px;
}

.telegram:hover, .instagram:hover, .discord:hover, .tiktok:hover, .youtube:hover {
    background-color: #99B080;
}


@media (max-width: 768px) {
    .photo {
        margin-top: 80px;
        width: 120px;
        height: 120px;
        box-shadow: 0px 0px 30px rgb(255, 85, 0);
    }

    body {
        margin-bottom: 135px;
    }
    
    .name {
        font-size: 20px;
        margin-top: 10px;
    }
    
    .underName {
        font-size: 12px;
        margin-top: 3px;
    }
    
    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 27px;    
    }
    
    .b1,
    .b2,
    .b3,
    .b4,
    .b5 {
        margin: 6px;
    }
    
    .telegramImg,
    .instagramImg,
    .discordImg,
    .tiktokImg,
    .youtubeImg {
        height: 10px;
        margin-top: 13px;
        margin-left: 7px;
    }

    .tiktokImg {
        margin-left: 9px;
    }

    .youtubeImg {
        margin-left: 9px;
    }
    
    .telegram {
        padding: 8px 145px;
        margin-left: -2px;
        font-size: 12px;
    }
    
    .instagram {
        padding: 8px 143px;
        margin-left: 0px;
        font-size: 12px; 
    }
    
    .discord {
        padding: 8px 150px;
        margin-left: 0px;
        font-size: 12px;
    }
    
    .tiktok {
        padding: 8px 155px;
        margin-left: 0px;
        font-size: 12px;
    }
    
    .youtube {
        padding: 8px 150px;
        font-size: 12px;
    }
}